.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cards {
    animation: 0.5s show ease;
    margin: 0 auto;
    padding-top: 50px;
    width: 600px;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.card_post{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color:#2b2b2b;
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.user{
    display: flex;
}
.email{
    display: flex;
    color:#f3f3f3;
    padding-left: 5px;
}
.userName::after{
    content: ', ';
}